body {
    margin: 0;
    background-color: #202020;
}

#title {
    background-color: #202020;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13vmin;
    color: white;
    height: 15vh;
    line-height: 15vh;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

#nav {
    background-color: #202020cc;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3vmin;
    color: white;
    height: 10vh;
    line-height: 10vh;
    vertical-align: middle;
    text-align: center;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    z-index: 2;
    box-shadow: 0 0.15vmin 0.15vmin black;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

#nav:hover {
    background-color: #202020;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.navItem {
    float: left;
    background-color: #00000000;
    padding-left: 2vw;
    padding-right: 2vw;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.navItem:hover {
    background-color: #303030;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.navItem a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.navLabel {
    float: right;
    background-color: #00000000;
    padding-left: 2vw;
    padding-right: 2vw;
}

.anchor {
    display: block;
    position: relative;
    top: -10vh;
    visibility: hidden;
}

#topContainer {
    position: relative;
    width: 100vw;
    height: 70vh;
}

#topImage {
    width: 100vw;
    height: 70vh;
    object-fit: cover;
    box-shadow: 0 0 1vmin black;
}

#topInfoContainer {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 70vh;
}

#topInfo {
    background-color: #202020cc;
    width: 38vh;
    height: 19vh;
    margin: 0 auto;
    margin-top: 24.5vh;
    margin-bottom: 24.5vh;
    padding: 2vh;
    font-family: 'Ubuntu', sans-serif;
    font-size: 5vh;
    color: white;
    line-height: 6vh;
    text-align: center;
}

.breaker {
    background-color: #202020;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2vh;
    color: white;
    height: 5vh;
    line-height: 5vh;
    vertical-align: middle;
    text-align: center;
}

#container {
    background-color: #202020;
}

#pane {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vh;
    margin-left: 4vh;
    margin-right: 4vh;
    padding: 5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-radius: 1vw;
}

.heading {
    font-family: 'Ubuntu', sans-serif;
    font-size: 4vmin;
    margin-top: 1vh;
}

.bigheading {
    font-family: 'Ubuntu', sans-serif;
    font-size: 7vmin;
    margin-top: 1vh;
    text-align: center;
}

.buttonlike {
    font-size: 1.5vmin;
}

.property {
    visibility: hidden;
    display: none;
}

.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.link {
    text-decoration: underline;
    color: #ddd451;
}

#mainBody {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5vmin;
}

#aboutPanel {
    background-color: #203040;
    color: white;
    padding: 4vh;
    box-shadow: 0 0 1vmin black;
}

#getStartedPanel {
    background-color: #402030;
    color: white;
    padding: 4vh;
    box-shadow: 0 0 1vmin black;
}

#toolsPanel {
    background-color: #204030;
    color: white;
    padding: 4vh;
    box-shadow: 0 0 1vmin black;
}

#roadmapPanel {
    background-color: #302040;
    color: white;
    padding: 4vh;
    box-shadow: 0 0 1vmin black;
}

#contactPanel {
    background-color: #402120;
    color: white;
    padding: 4vh;
    box-shadow: 0 0 1vmin black;
}

#dropContainer {
    width: 100%;
    height: 8vh;
}

.dropBox {
    width: 33.33%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 8vh;
    font-family: 'Ubuntu', sans-serif;
    font-size: 4vmin;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.dropBoxSelected {
    background-color: #181818;
}

.dropBoxUnselected {
    background-color: #202020;
}

.dropBoxSelected:hover {
    background-color: #101010;
}

.dropBoxUnselected:hover {
    background-color: #282828;
}

#midDrop {
    margin-left: 1%;
    margin-right: 1%;
    width: 31.33%;
}

#dropContentContainer {
    width: 100%;
    height: 20vh;
    position: relative;
}

.dropContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 1vmin black;
}

#leftDropContent {
    background-color: #4e282d;
}

#midDropContent {
    background-color: #284e4e;
}

#rightDropContent {
    background-color: #45284e;
}

.dropContentCollapsed {
    height: 0;
    -webkit-transition: height 1s;
    transition: height 1s;
    z-index: 0;
}

.dropContentExpanded {
    height: 20vh;
    -webkit-transition: height 1s;
    transition: height 1s;
    transition-delay: 0.25s;
    z-index: 1;
}

.innerDropContent {
    margin: 3%;
    font-size: 2.5vmin;
}

#aboutInfoPane {
    background-color: #24485f;
    width: 94%;
    padding: 3%;
    box-shadow: 0 0 1vmin black;
}

#codeSampleContainer {
    width: 100%;
    height: 85vmin;
}

.codeSample {
    width: 42.5%;
    height: 81vmin;
    padding: 2.5%;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    box-shadow: 0 0 1vmin black;
    float: left;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.75vmin;
    background-color: #3f1463;
    overflow: scroll;
    white-space: nowrap;
}

@media screen and (max-width: 600px) {
    .codeSample {
        width: 95%;
        height: 35.5vmin;
        margin-right: 0 !important;
        margin-left: 0 !important;
        margin-bottom: 5vmin;
        float: none;
    }
}

#codeSampleLeft {
    margin-right: 2.5%;
}

#codeSampleRight {
    margin-left: 2.5%;
}

.codeSample .comment {
    color: rgb(137, 255, 122);
}

.codeSample .str {
    color: rgb(253, 255, 122);
}

.codeSample .id {
    color: rgb(35, 204, 255);
}

.codeSample .sym {
    color: rgb(169, 235, 255);
}

.codeSample .key {
    color: rgb(255, 171, 122);
    font-weight: bold;
}

.codeSample .txt {
    color: rgb(255, 214, 250);
    font-style: italic;
}

.codeSample .link {
    color: rgb(253, 255, 122);
}

.linklist li a {
    text-decoration: underline;
    color: #ddd451;
}

.dynamicSectionContainer {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.dynamicSectionTitle {
    font-family: 'Ubuntu', sans-serif;
    font-size: 4vmin;
}

.dynamicSectionDescription {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5vmin;
}

::selection {
    background: #5a5a5a;
}

::-moz-selection {
    background: #5a5a5a;
}